{% extends "base.html" %}


{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('participants.list_participants') }}">
                Participants
            </a>

        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('participants.edit_participant', id = participantId) }}">
                {{ participantId }}
            </a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{{ url_for('assessments.list_assessments', participantId = participantId) }}">
                Assessments
            </a>
        </li>
        <li class="breadcrumb-item active">
            Add
        </li>
    </ol>
</nav>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<form method="post">
    <div class="mb-2">
        <label for="date_recorded" class="form-label">Date Recorded</label>
        <input type="date" id="date_recorded" name="date_recorded" class="form-control"
            value="{{frm_date_recorded or ''}}" required />
    </div>

    <h5>Thoughts and Behaviours</h5>

    <!-- Bounce Back --->
    <div class="mb-2">
        <label for="bounce_back" class="form-label">
            I tend to bounce back quickly after hard times
        </label>
        <select class="form-select" id="bounce_back" name="bounce_back" required>
            <option value="" {% if not frm_bounce_back %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_bounce_back == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_bounce_back == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_bounce_back == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_bounce_back == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_bounce_back == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- Consequences -->
    <div class="mb-2">
        <label for="consequences" class="form-label">
            I often do things without thinking of the consequences
        </label>
        <select class="form-select" id="consequences" name="consequences" required>
            <option value="" {% if not frm_consequences %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_consequences == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_consequences == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_consequences == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_consequences == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_consequences == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- Working Hard -->
    <div class="mb-2">
        <label for="working_hard" class="form-label">
            I am really working hard to change my life
        </label>
        <select class="form-select" id="working_hard" name="working_hard" required>
            <option value="" {% if not frm_working_hard %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_working_hard == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_working_hard == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_working_hard == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_working_hard == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_working_hard == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- Feel good -->
    <div class="mb-2">
        <label for="feel_good" class="form-label">
            I feel good about myself
        </label>
        <select class="form-select" id="feel_good" name="feel_good" required>
            <option value="" {% if not frm_feel_good %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_feel_good == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_feel_good == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_feel_good == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_feel_good == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_feel_good == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- Adaptable -->
    <div class="mb-2">
        <label for="adaptable" class="form-label">
            I find it easy to adapt to changes in my life
        </label>
        <select class="form-select" id="adaptable" name="adaptable" required>
            <option value="" {% if not frm_adaptable %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_adaptable == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_adaptable == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_adaptable == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_adaptable == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_adaptable == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- feelings -->
    <div class="mb-2">
        <label for="feelings" class="form-label">
            I struggle to understand my own or other people's feelings
        </label>
        <select class="form-select" id="feelings" name="feelings" required>
            <option value="" {% if not frm_feelings %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_feelings == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_feelings == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_feelings == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_feelings == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_feelings == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- emotional problems -->
    <div class="mb-2">
        <label for="emotional_problems" class="form-label">
            My emotions can get the better of me
        </label>
        <select class="form-select" id="emotional_problems" name="emotional_problems" required>
            <option value="" {% if not frm_emotional_problems %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_emotional_problems == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_emotional_problems == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_emotional_problems == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_emotional_problems == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_emotional_problems == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>

    <!-- easy to talk -->
    <div class="mb-2">
        <label for="easy_to_talk" class="form-label">
            I find it easy to talk to other people
        </label>
        <select class="form-select" id="easy_to_talk" name="easy_to_talk" required>
            <option value="" {% if not frm_easy_to_talk %}selected{% endif %}></option>
            <option value="Strongly Disagree" {% if frm_easy_to_talk == 'Strongly Disagree' %}selected{% endif %}>Strongly Disagree</option>
            <option value="Disagree" {% if frm_easy_to_talk == 'Disagree' %}selected{% endif %}>Disagree</option>
            <option value="Neither" {% if frm_easy_to_talk == 'Neither' %}selected{% endif %}>Neither</option>
            <option value="Agree" {% if frm_easy_to_talk == 'Agree' %}selected{% endif %}>Agree</option>
            <option value="Strongly Agree" {% if frm_easy_to_talk == 'Strongly Agree' %}selected{% endif %}>Strongly Agree</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}