{% extends "base.html" %}

{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('participants.list_participants') }}" >
                        Participants
                </a> 
 
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('participants.edit_participant', id = participantId) }}">
                    {{ participantId }}
                </a>
            </li>
            <li class="breadcrumb-item active">
               Assessments
            </li>
        </ol>
    </nav>


    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Recorded</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for a in assessments %}
            <tr>
                <td>
                    {{ a.id }}
                </td>
                <td>
                    {{ a.date_recorded }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td rowspan="2">
                    <a href="{{ url_for('assessments.add_assessment', participantId=participantId)}}" class="btn btn-primary">Add Assessment</a>
                </td>
            </tr>
        </tfoot>
    </table>



{% endblock %}